body{
    text-align: center;   
}

html {
    scroll-behavior: smooth;
  }
  
  .parrafo{line-height: 40px;}

  .navbar-brand{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 40pt;
    margin-left: 15%;
    color: #ffffff;
}

#navbarNav{
    font-family: 'News Cycle', sans-serif;
    font-size: 16pt;
    margin-right: 15%;
    color: #ffffff;
}


#navbarNav .nav-link{color:#fff}

  footer{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 40pt;
    color: #ffffff;
    background-color:#660066;
    padding:40px 0;
}

footer p{margin:0;}

footer .redes-sociales {
    list-style: none;
    padding:0;
    margin:0;
}

footer .redes-sociales li {
    display:inline-block;
    vertical-align: middle;
    line-height: 0;
}
footer .redes-sociales li a{
    color:#fff;
    font-size:32px;
}

@media screen and (min-width:320px) and (max-width:768px){
    header{
        text-align: center;
    }
    #header_title{
        font-size: 20pt;
    }
    .principal_button{
        font-size: 8pt;
    }
    #newsletter{
        font-size: 20pt;
    }
    #newsletter_second{
        font-size: 15pt;
    }
}
